
/* styling- text */
p{
  margin: 0;
  font-family: Helvetica;
  font-size: 20px;
  color: #ffffff;
  padding-top: 5px;
  
}

h3{
margin: 0;
font-family: Helvetica;
color: #a0a0a0;
  font-weight: bold;
}

h1{
  font-size: 20px;
  text-align: left;
}

header {
  margin: auto;
  border-bottom: .01em solid #333;
  max-width: 1280px;
  padding: 20px;
  width: 100%;
  

}
header h1{
text-align: center;
}

.artistName a:link, .artistName a:visited {
  color: #a0a0a0;
  text-decoration: none;
}

/*card*/
.albumCard {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  padding: 20px;
}


.albumCard:hover .albumIcons img{
  display: block;
}

.albumCoverImage img {
  position: absolute;
  z-index: 2;
}

.albumCard:hover {
  filter: brightness(70%);
}

.albumInfo{
  width: 300px;
  margin: 2px;
  padding-top: 10px;
}

/*icons*/

.albumIcons{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  z-index: 3;
  position: absolute; 
  display: flex;
  justify-content: space-between;


}

.albumIcons:hover~.albumCoverImage img {
  filter:brightness(40%);
 background: rgba(0, 0, 0, 0.253)
}

.favIcon, .iconPlay, .moreIcon {
  display: none;
  margin: 20px;
  transform: scale(1.0);
}

.favIcon {
  height: 80px;
  width: 80px;
  filter: alpha(opacity=50);
}


.iconPlay {
  height: 80px;
  width: 80px;
  margin-left: 8px;
  filter: alpha(opacity=50);
  
}
.moreIcon{
  height: 80px;
  width: 80px;
  margin-left: 8px;
  filter: alpha(opacity=50);
  
}


.iconPlay:hover {
  width: 80px;
  opacity: .5;
  filter: alpha(opacity=50);
  transform: scale(1.1);
}

  

.albumTitle .albumTitle {
  font-size: 20px;
  color: #fff; 
  text-decoration: none;
}

@media only screen and (min-width: 370px) and (max-width: 670px) {
  .albumCard{
    margin-left: 10%;
  }
}

header{
  width: 100%;
}

@media only screen and (min-width: 670px) and (max-width: 914px) {
  header {
    font-size: 20px;
    margin: 0px;
    text-align: center;
  }
}